@tailwind base;
@tailwind components;
@tailwind utilities;



h4{
  color: rgb(5, 158, 87);
}


h3{
  color: red;
}

h1{
  color: blueviolet;
}

h2{
  color: darkmagenta;
}

h5{
  color: rgb(182, 63, 172);
}

h6 {

  color: orchid;
  text-shadow: 15cap;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}