@tailwind base;
@tailwind components;
@tailwind utilities;



h4{
  color: rgb(5, 158, 87);
}


h3{
  color: red;
}

h1{
  color: blueviolet;
}

h2{
  color: darkmagenta;
}

h5{

  color: chocolate;
  text-decoration: chartreuse;
  text-shadow: color(from color srgb r g b);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

h6 {

  color: orchid;
  text-shadow: 15cap;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

